@using HPAuthenticate.Helpers

@{
    ViewBag.Title = "Help";
}

@section header_scripts {
	<script type='text/javascript' src="@Url.Script("swfobject.js")"></script>
	<script type='text/javascript'>
		swfobject.registerObject("helpmovie_1", "9.0.115", "@Url.Asset("expressInstall.swf")");
	</script>
}

<div id="ns_help_page">

<h2 id="IDUpdates">Time-Sensitive Updates</h2>
<p><strong><font color="red">March 1, 2013: NOTICE:  the deadline for reporting 2012 production has been extended from March 1 to June 1, 2013.</font></strong></p>

<h2 id="IDHelp">Help</h2>

<div id="tocwrapper">
  <p><strong>Table of Contents</strong><br />
<em>(Feb 2013: remove property assoc; upgrade server; new meter form)</em></p>

<ul id="markdown-toc">
  <li><a href="#IDHelp">Help</a></li>
  <li><a href="#IDQuickReference">Quick Reference for Reporting</a>    <ul>
      <li><a href="#create-an-online-user-account">1.  Create an Online User Account</a></li>
      <li><a href="#update-and-maintain-your-user-account--properties">2.  Update and Maintain your User Account</a>
      </li>
      <li><a href="#map-the-contiguous-acres">3. Map the Contiguous Acres</a></li>
      <li><a href="#map-the-meters-or-alternate-metering-methods">4. Map the Meter(s) or Alternate Metering Method(s)</a></li>
      <li><a href="#associate-wells-to-a-meter">5. Associate Wells to A Meter</a>        <ul>
          <li><a href="#reporting-a-missing-well">Reporting a Missing Well</a></li>
        </ul>
      </li>
      <li><a href="#report-production-readings">6. Report Production Readings</a></li>
    </ul>
  </li>
  <li><a href="#other-map-tools">Other Map Tools</a></li>
  <li><a href="#IDTutorial">Video Tutorial</a></li>
  <li><a href="#IDBackgroundInfo">Background Information</a>    <ul>
      <li><a href="#IDInfoProperty">Reporting Water Use by Property</a></li>
      <li><a href="#IDCADInfo">Appraisal District Ownership Information</a></li>
      <li><a href="#IDInfoAccuracy">Data Accuracy</a></li>
      <li><a href="#IDInfoSiteBenefits">Benefits of this Site versus Paper</a></li>
      <li><a href="#IDInfoMeterProcess">Outline of Online Meter Reporting Process</a></li>
    </ul>
  </li>
  <li><a href="#IDFAQs">Frequently Asked Questions</a>    <ul>
      <li><a href="#IDFAQSite">Using the Site</a></li>
      <li><a href="#IDFAQReporting">Reporting your Information</a></li>
    </ul>
  </li>
</ul>

</div>

<p>For help, please do the following.  </p>

<ol>
  <li>
    <p>Read this documentation and watch the associated <a href="#IDTutorial">videos</a>.  The <a href="#IDQuickReference">Quick Reference</a> section can be used as a reminder of where on this site to perform certain actions, and is <a href="@Url.Asset("QuickReference.pdf")">available as a PDF</a> for download and/or printing.  Because this site is being developed in stages, please refer back to this Help page periodically for updated information on new functionality.  </p>
  </li>
  <li>
    <p>Confirm the information you are entering is correct.   Be sure you have placed the point on the map in the desired location.  Also, be sure you are entering ownership information as it is recorded with the County Appraisal Districts. </p>
  </li>
  <li>
    <p>Refer to the <a href="#IDFAQs">Frequently Asked Questions</a>.  The information here may save you more time than having to make a call or e-mail for help.</p>
  </li>
  <li>
    <p>Contact the High Plains Water District by e-mail at <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#101;&#108;&#112;&#064;&#104;&#112;&#119;&#100;&#046;&#099;&#111;&#109;" title="e-mail HPWD for help">&#104;&#101;&#108;&#112;&#064;&#104;&#112;&#119;&#100;&#046;&#099;&#111;&#109;</a>.  Your e-mail will be forwarded to the appropriate person who will respond within 2 business days of your request.  </p>
  </li>
  <li>
    <p>Call the High Plains Water District at 806-762-0181 or go into their offices during normal business hours at 2930 Avenue Q, Lubbock, TX 79411-2499.  </p>
  </li>
</ol>

<p><a href="#IDHelp">Back to top</a></p>

<h2 id="IDCriticalInfo">Time-Sensitive Critical Information</h2>
<p>(No critical updates to report at this time.)
</p>

<h2 id="IDQuickReference">Quick Reference for Reporting</h2>
<p>Use this list as a reminder of the primary steps for using this site and the corresponding locations for completing certain related actions.</p>

<p><img src="@Url.Image("help/OrderOfOperations.jpg")" alt="Order of Operations" /></p>

<h3 id="create-an-online-user-account">1.  Create an Online User Account</h3>
<p>This account should remain unique to you, and will be used to access information about your properties or ones for which you are reporting.</p>

<p><img src="@Url.Image("help/SignUp.jpg")" alt="Creating an Account" /></p>

<p>Each time you return, you&rsquo;ll simply log in with the <strong>&ldquo;Login&rdquo;</strong> button, using your previously entered e-mail address and password.  You also reset your forgotten password here.</p>

<p><img src="@Url.Image("help/Login.jpg")" alt="Logging In" /></p>

<h3 id="update-and-maintain-your-user-account--properties">2.  Update and Maintain your User Account</h3>

<p>Once you are logged in you will see a button for managing your account. On the My Account page, you can a. manage your own contact information, b. change your password, c. change your e-mail address.

</p>

<p><img src="@Url.Image("help/MyAccountPage_UserInfo.jpg")" alt="My Account" /></p>

<h3 id="map-the-contiguous-acres">3. Map the Contiguous Acres</h3>
<p>You will draw an area on the map representing each distinct contiguous acreage polygon.  You can access the map using the <strong>&ldquo;Reporting&rdquo;</strong> tab on the main page.</p>

<p><img src="@Url.Image("help/Reporting.jpg")" alt="Reporting Information Using the Map" /></p>

<p>1)  Zoom to your area of interest, and click the &ldquo;Map a Contiguous Area&rdquo; icon to activate the tool<br />
 2)  Indicate the reason you are adding this contiguous area - such as it is a new area, or a modification to an existing one; click proceed<br />
 3)  Click the &ldquo;Proposed Contiguous Acres&rdquo; layer to activate it (it will turn black when activated), and click on the map to start drawing.</p>

<p><img src="@Url.Image("help/MapACA_Start.jpg")" alt="Add Contiguous Acreage boundary to the Map" /></p>

<p>4)  Add a name to distinguish this area from others.<br />
 5)  Click OK, acknowledging that your proposed boundary has been submitted, and that you can return later to confirm the actual boundary as approved by HPWD.</p>

<p><img src="@Url.Image("help/MapACA_NameIt.jpg")" alt="Add Contiguous Acreage &quot;name&quot; or description" /></p>

<h3 id="map-the-meters-or-alternate-metering-methods">4. Map the Meter(s) or Alternate Metering Method(s)</h3>
<p>Map the point location where water production will be measured for each of your properties.  The main HPWD web page has detailed instructions on <a href="http://hpwd.com/meter-forms/">metering and alternative methods for reporting production</a>.</p>

<p>1)  Activate the <strong>&ldquo;Map Meter&rdquo;</strong> tool.<br />
 2)  Click on the proposed meters layer in the tool, and click the map to indicate the meter location.<br />
 3) Enter the characteristics of your meter or alternate measurement method, including a start reading. Note that the installation date and the start reading date may be different.
<p><img src="@Url.Image("help/MapUpdateMeterAttributes.jpg")" alt="Update meter information" /></p>

<h3 id="associate-wells-to-a-meter">5. Associate Wells to A Meter</h3>
<p>All the wells within a contiguous acreage must be metered.  Well-to-meter associations can be entered and reviewed on the map and in the &ldquo;Reporting Summary&rdquo; page.</p>

<p>1)  Activate the <strong>&ldquo;Associate a Meter with Wells&rdquo;</strong> tool<br />
 2)  Select a distance to search around your meter for nearby wells.<br />
 3)  Click on the meter, and select those well permit numbers that should be associated with the meter.  Repeat for every meter and/or well associated with your contiguous acreages. Red lines will appear that signify a well-to-meter association.</p>

<p><img src="@Url.Image("help/Meter-To-Well-Assoc.jpg")" alt="Assciate Wells to Meters" /></p>

<p>4) The option to show all meter-well associations leaves the lines between wells and meters visible, to aid in researching existing or missing associations.</p>

<p><img src="@Url.Image("help/Meter-To-Well-Show.jpg")" alt="Show Meter-to-Well Associations" /></p>

<h4 id="reporting-a-missing-well">Reporting a Missing Well</h4>
<p>If you find that a permitted well is missing from the map altogether, HPWD would appreciate if you identify the location of the missing well so that it can be researched.  REMEMBER:  This tool is not part of the well permitting process, and any wells that are not yet permitted must go through the official process with that department of the HPWD.  Further, if you find a well that is mapped, but in the wrong location, please contact HPWD directly to have the well location re-mapped instead of adding another point with this tool.</p>

<p>1)  Click on the <strong>&ldquo;Identify Missing Wells&rdquo;</strong> icon to activate the tool<br />
2)  Select the Missing Wells layer to activate the tool<br />
3)  Click the map to add a point where the well should be located<br />
4)  Review and confirm that the contact information for the person who can verify the missing well information.</p>

<p><img src="@Url.Image("help/IdentifyMissingWell.jpg")" alt="Identify a Missing Well" /></p>

<h3 id="report-production-readings">6. Record Production Readings</h3>
<p>An end meter reading needs to be entered at least once each year in order to calculate actual production as compared to what is allowed for each contiguous area.  </p>

<p>1)  Activate the <strong>&ldquo;Record a Meter Reading&rdquo;</strong> tool<br />
 2)  Click on the meter and enter values into the pop-up window.  Click OK.  If you enter more than one interim end-reading, the most recent three values will show in the pop-up.</p>

<p><img src="@Url.Image("help/ReportProduction.jpg")" alt="Report Production Readings" /></p>

<p>Interim readings can be entered for any meter at any time as a tool for checking the status of your current production rate.  The &ldquo;Annual Report&rdquo; tab can then be used to summarize the values entered to-date relative to each contiguous acreage.</p>

<h3 id="associate-properties-to-account">7. Manually Associate Properties to your Account</h3>
<p>As you enter information for reporting, such as a meter or contiguous acreage polygon, the underlying properties are associated to your user account as well. In 2012, this method is being used to manage what information is visible to each user. </p>

<p>In most cases for reporting year 2012, this information should be left as is (as it is assigned automatically by the mapping tools). </p>

<p>However, if you own some property for which someone else is reporting on your behalf, you may want to see what they are reporting. In that case, you will use the links provided at the bottom of the My Account page to associate a property to your account manually.
</p>

<p><img src="@Url.Image("help/MyAccountPage_AddProperties.jpg")" alt="Property Descriptions" /></p>

<p>Each of these links will allow you select a property, either by typing an ownername (as on file at the County Appraisal District) or by pointing to the desired location on the map. Once a property is on this list, you will see features that have been added to the map by yourself or others that are related to this property.</p>

<p><a href="#IDHelp">Back to top</a></p>

<h2 id="other-map-tools">Other Map Tools</h2>

<p>1)  Other tools are provided in the map interface.</p>

<p><img src="@Url.Image("help/OtherMapTools.jpg")" alt="Other Map Tools" /></p>

<p>2)  The map has been designed to optimize performance on the web. This means layers turn on and off as you zoom in and out, based on their expected relevance.  The legend below shows the map symbols for all features, though they may not all draw at the same time in the web map.  </p>

<p><img src="@Url.Image("help/Legend.jpg")" alt="Map Legend" /> </p>

<p><a href="#IDHelp">Back to top</a></p>

<h2 id="IDTutorial">Video Tutorial</h2>
<p>Watch the following video for an introduction to the entire process of using this site. The Video is divided into four chapters, and if you want a refresher at any time, each can be watched independently of the others by selecting from the table of contents after you start the video.
</p>

<object id="helpmovie_2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="425">
  <param name="movie" value="@Url.Asset("FullVideo_v2_controller.swf")" />
    <param name="quality" value="best" />
    <param name="bgcolor" value="#1a1a1a" />
    <param name="allowfullscreen" value="true" />
    <param name="scale" value="showall" />
    <param name="allowscriptaccess" value="always" />
  <param name="flashvars" value="autostart=false&thumb=@Url.Asset("FirstFrame.png")&thumbscale=45&color=0x1A1A1A,0x1A1A1A" />

<!--[if !IE]>-->
<object type="application/x-shockwave-flash" data="@Url.Asset("FullVideo_v2_controller.swf")" width="800" height="425">
                    <param name="quality" value="best" />
                    <param name="bgcolor" value="#1a1a1a" />
                    <param name="allowfullscreen" value="true" />
                    <param name="scale" value="showall" />
                    <param name="allowscriptaccess" value="always" />
          <param name="flashvars" value="autostart=false&thumb=@Url.Asset("FirstFrame.png")&thumbscale=45&color=0x1A1A1A,0x1A1A1A" />
</object>
<!--<![endif]-->
</object>

@*<br>
<p>The next video is divided into four chapters, and if you want a refresher at any time, each can be watched independently of the others by selecting from the table of contents after you start the video.  </p>*@

<object id="helpmovie_1" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="700" height="425">
  <param name="movie" value="@Url.Asset("ChaptersCompiled_V2_controller.swf")" />
    <param name="quality" value="best" />
    <param name="bgcolor" value="#1a1a1a" />
    <param name="allowfullscreen" value="true" />
    <param name="scale" value="showall" />
    <param name="allowscriptaccess" value="always" />
  <param name="flashvars" value="autostart=false&thumb=@Url.Asset("FirstFrame.png")&thumbscale=45&color=0x1A1A1A,0x1A1A1A" />

<!--[if !IE]>-->
<object type="application/x-shockwave-flash" data="@Url.Asset("ChaptersCompiled_V2_controller.swf")" width="700" height="425">
                    <param name="quality" value="best" />
                    <param name="bgcolor" value="#1a1a1a" />
                    <param name="allowfullscreen" value="true" />
                    <param name="scale" value="showall" />
                    <param name="allowscriptaccess" value="always" />
          <param name="flashvars" value="autostart=false&thumb=@Url.Asset("FirstFrame.png")&thumbscale=45&color=0x1A1A1A,0x1A1A1A" />
<!--<![endif]-->
    <p>(To view this content, you'll need Flash player installed.) This video walks through the process
  of creating a user account, associating properties and owners with the account, mapping the location
  of your meter or alternate metering method, and updating information about the meter.</p>
<!--[if !IE]>-->
</object>
<!--<![endif]-->
</object>


<p><a href="#IDHelp">Back to top</a></p>

<h2 id="IDBackgroundInfo">Background Information</h2>
<p>This web page is being provided to assist water producers in maintaining compliance with the <a href="http://www.hpwd.com/Downloads/FINAL%20District%20Rules%20As%20Amended%20July%2019,%202011/Amended%20HPWD%20Rules%20Adopted%207-19-2011.pdf">&ldquo;Rules of the High Plains Underground Water Conservation District No. 1&rdquo;</a>.  </p>

<p>This site has been developed in stages to provide interim capabilities to the public during development. Users were initially provided the ability to locate and enter data associated with a meter installation and the land ownership tied to the water production. Additional functionality for drawing contiguous acreages and identifying missing wells was added. Finally, the annual reporting summary was added. Most recently, the application has been updated to de-emphasize the associated land ownership information and focus on the online user (the one doing the reporting) taking primary responsibility for whatever features they add. The server infrastructure has also been updated to accommodate the increased use of the online tools by the water user community.</p>

<h3 id="IDInfoProperty">Reporting Water Use by Property</h3>
<p>As specified in the Rule, the Owner of a property is responsible for measuring all the water production from that property, regardless of the water&rsquo;s point of use.  </p>

<p>This site allows persons other than the Owner to report on a property, but every online user account must be associated to at least one property/Owner before adding a meter. </p>

<p>The basis of this property to owner association is the Appraisal District roll information from each county. It is common to for the same property owner to be listed as John Doe, John and Mary Doe, or John Doe Trust in the Appraisal District records. Because the property is officially recorded that way, it can sometimes be difficult to find the correct owner name in a list, and to correctly associate the property (correct section or labor) being reported. </p>

<p>Though this process may seem somewhat cumbersome, it was originally deemed important for maintaining the integrity of the information being reported throughout the District.</p>

<p>However, given recent feedback that the appraisal district information is too out of date to be dependable, this explicit property/Owner association may be removed from the user interface for the 2013 reporting year.</p>

<h3 id="IDInfoAccuracy">Data Accuracy</h3>
<p>HPWD is using data from each County Appraisal District (CAD) to provide the most accurate information regarding current land ownership. However, because this tool does not connect to the CAD’s directly, there may be instances where users will need to update the information in this tool to match what is known to be currently accurate.  </p>

<p>Well locations are approximate for all wells drilled prior to 2004 because the district did not measure each well site prior to 2004. The well may not be in the exact location of the physical well site. You are encouraged to contact HPWD directly if you find a well that is on the map in the wrong location.  </p>

<p>Other data in the map represents a collection of information from different data sources, and each source has different data accuracy requirements.  High Plains is grateful to have access to these sources of information and asks that users be mindful that features are presented for context and may not align exactly to each other.  <strong>Information added by users of the High Plains system should aim to align with the map imagery instead of other map features</strong> (such as roads, ownership boundaries, or legals).</p>

<h3 id="IDInfoSiteBenefits">Benefits of this Site versus Paper</h3>
<p>You can choose to submit all your information using <a href="http://hpwd.com/Downloads/Meter%20forms/Revised%20Meter%20Registration%20Form%20(10-24-11).pdf">paper forms</a> but you are encouraged to use this online tool instead.    By creating an online account, you will<br />
    a.  see information about your properties (those you are authorized to see) as it is represented in the HPWD database<br />
    b.  be able to, at any time, review the status of your actual production as compared to your allowable production and banked water balance<br />
    c.  Have access to maps of your property with the latest NAIP imagery.</p>

<p>Remember, if you are uncomfortable with using the online system, you can call or go in to the HPWD office and have someone help you setup your online account.  </p>

<h3 id="IDInfoMeterProcess">Outline of Online Meter Reporting Process</h3>
<p>The order of completion, no matter when in the year you begin the process, remains the same.  It is recommended at this time that you complete the online reporting steps in the order listed below.  </p>

<ul>
  <li>Create User Account.  </li>
  <li>Draw boundaries around your contiguous acreage. These boundaries will be reviewed by the HPWD for accuracy and completeness.  </li>
  <li>Map the location of your meter or alternate metering method, including characteristics of the meter such as the start reading.  </li>
  <li>Associate the wells within each contiguous area to a meter.  </li>
  <li>Update the information for each meter to include at least one end reading at the end of the production year, to be read between Dec 15 - Jan 15.</li>
  <li>Confirm the production rates reported are accurate and submit a summary report for all of your contiguous acreage.  </li>
</ul>

<p><a href="#IDHelp">Back to top</a></p>

<h2 id="IDFAQs">Frequently Asked Questions</h2>

<h3 id="IDFAQSite">Using the Site</h3>
<p><strong><em>I can&rsquo;t get the site to work; what could be wrong?</em></strong><br />
This site should work with <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">Internet Explorer 7 or
greater</a>,
<a href="https://www.google.com/chrome">Google Chrome</a>, or <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>.
   You are also required to have the <a href="http://get.adobe.com/flashplayer/">Flash Player</a> installed.</p>

<p><strong><em>The site is unresponsive or is acting strangely.  I keep clicking a button but I&rsquo;m not getting the response I expect.</em></strong>
Sometimes network performance will affect the responsiveness of the map to your changes.  In most cases, the map will catch up if just given a little time.  If not, or if you&rsquo;re unsure, you may want to log out and log back in to be sure the information you have entered has been saved properly.</p>

<p>For example:</p>

<ul>
  <li><em>In the map</em>, sometimes you may zoom quickly and the map will take a little time to refresh and have the new features come into focus. If your map doesn&rsquo;t refresh, if you see features you&rsquo;re NOT expecting, or you don&rsquo;t see features you ARE expecting, log out and log back in to resolve the issue.</li>
  <li><em>In the map</em>, you may click on the map to add a property or a meter and the pop-up dialog boxes take a long time to load.  As mentioned in the video and the quick reference, wait for the appropriate dialog to open before proceeding.  If at any time you get confused about what information has been entered, you can always exit the map and log out, then log back in and reopen the map using the &ldquo;Reporting&rdquo; button.</li>
</ul>

<p><strong><em>I forgot my password; how do I get a new one?</em></strong><br />
Go to Home page and follow the link to have it reset.  If the e-mail address associated with your account is no longer valid, then you&rsquo;ll need to <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#101;&#108;&#112;&#064;&#104;&#112;&#119;&#100;&#046;&#099;&#111;&#109;" title="e-mail HPWD for help">contact HPWD</a> to have your e-mail address updated in the system before you can proceed.</p>

<p><a href="#IDHelp">Back to top</a></p>

<h3 id="IDFAQReporting">Reporting your Information</h3>
<p><strong><em>I can&rsquo;t find my well.</em></strong><br />
<p>If you are looking for a well that has not yet been permitted through the HPWD, it will not show on the map. In this case, you can add a metering location to the map for production reporting purposes, BUT you must wait to complete the permit application process with HPWD before associating the meter to the well.</p>

<p><strong><em>My meter was installed prior to the rulemaking.  How do I enter my grandfathered meter?</em></strong>
Grandfathered meters are entered the same way as new meters. When you get to the Edit Meter form in the map, you will type your meter information in text boxes labeled just for grandfathered meters (instead of picking your meter model from the list of approved meters).</p>

<p><strong><em>I&rsquo;ve found my property and my wells, but they aren&rsquo;t in the correct location.  Do I put my meter on top of the well as it is mapped, or where it ought to be as I see it in the image?</em></strong><br />
Many of the features in the map may not have been mapped as accurately as the image background.  If you are adding a new meter (or alternate metering method), please position it exactly where you think it is relative to the image, not the other features on the map such as wells and property lines.</p>

<p><strong><em>I entered a meter location previously, but now realize it is in the wrong location.  I see the meter on the map but I can no longer edit or delete it.  How do I update my information?</em></strong><br />
Meter locations and attributes remain editable by users as &ldquo;proposed&rdquo; features until they have been reviewed by the High Plains Water District, at which point they become &ldquo;confirmed&rdquo; features.  If you can no longer edit your meter online, you&rsquo;ll need to contact the HPWD (<a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#101;&#108;&#112;&#064;&#104;&#112;&#119;&#100;&#046;&#099;&#111;&#109;" title="e-mail HPWD for help">&#104;&#101;&#108;&#112;&#064;&#104;&#112;&#119;&#100;&#046;&#099;&#111;&#109;</a>) to determine how to update the information.</p>

<p><strong><em>My map doesn&rsquo;t look like the one in the video. Is something wrong?</em></strong> 
No.  Because this site is constantly being improved, the videos may use a different map or be missing some of the mapping tools that have recently been added.  The information in the video should still be accurate, or the video will be updated.</p>

<p><a href="#IDHelp">Back to top</a></p>









</div>
