@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@if (ViewBag.NeedsPasswordForm) {
	<p>You can now change your password by entering your new password below and clicking "Change Password":</p>
} else {
	<p>To reset your password, please enter your email address below and click "Reset Password":</p>
}

@using (Html.BeginForm()) {
	@* Preserve confirmation code if present *@
	@Html.Hidden("code", Request["code"])
	
	<dl class='form'>

		@if (ViewBag.NeedsPasswordForm) {
			<dt>@Html.Label("new_password", "New Password")</dt>
			<dd>
				@Html.Password("new_password")
			</dd>
			<dt>@Html.Label("new_password_confirmation", "Confirm")</dt>
			<dd>
				@Html.Password("new_password_confirmation")
			</dd>
			<dt></dt>
			<dd>
				<input type='submit' value='Change Password'></input>
			</dd>
		} else {

				<dt>@Html.Label("email", "Email address")</dt>
				<dd>
					@Html.TextBox("email")
				</dd>
				<dt></dt>
				<dd>
					<input type='submit' value='Reset Password'></input>
				</dd>
		}

	</dl>
	
	if (!ViewBag.NeedsPasswordForm) {
		<h3>Already received code</h3>
	 
		<p>If you already received your password reset code, enter it here and click "Submit code". You will be taken to another screen where you can change your password.</p>
		<dl class='form'>
			<dt>Code:</dt>
			<dd>@Html.TextBox("user_entered_code")</dd>
			<dt></dt>
			<dd><input type='submit' value='Submit code' /></dd>
		</dl>
	}
	
}